html {
  background-color: black;
}

body {
  margin: 0;
}

.wraper {
  width: 100%;
}

.main-image {
  position: relative;
  background-image: url("main-image.jpg");
  background-size: cover; /*--背景画像のサイズ--*/
  background-attachment: fixed; /*--背景画像の固定--*/
  background-repeat: no-repeat; /*--背景画像の繰り返し--*/
  background-position: center center; /*--背景画像の位置--*/
  height: 90vh;
  margin: 5vh auto;
}

.keyborad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.keys {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  width: 4.6rem;
  height: 6.6rem;
  border: solid;
  border-width: 0.2rem;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.6rem;
  transition: all 0.7s;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.keys.top {
  margin-right: 4rem;
}

.key.top {
  background-color: black;
  color: white;
}

.key.middle {
  background-color: white;
  color: black;
}

.key.bottom {
  background-color: white;
  color: black;
}

kbd {
  padding-top: 0.8rem;
  font-family: "inherit";
  font-size: 2.1rem;
  font-weight: 700;
}

.sound {
  padding-bottom: 0.8rem;
  font-size: 1rem;
  color: rgb(255, 123, 0);
}

.playing {
  background-color: rgb(0, 255, 255) !important;
  border-color: rgb(255, 255, 0);
}
